<nav class="navbar navbar-dark bg-dark">
    <div class="row">
        <div class="col">
            <div ngbDropdown class="d-inline-block m-1">
                <button type="button" class="btn btn-primary" ngbDropdownToggle>
                    Automatyka
                </button>
                    <div ngbDropdownMenu>
                        <button ngbDropdownItem>Rampy</button>
                        <button ngbDropdownItem>Magazynier</button>
                        <button ngbDropdownItem>Dziennik Zdarzeń</button>
                    </div>
            </div>
            <div ngbDropdown class="d-inline-block m-1">
                <button type="button" class="btn btn-primary" ngbDropdownToggle>
                    Skaner
                </button>
                    <div ngbDropdownMenu>
                        <button ngbDropdownItem>Rampy</button>
                        <button ngbDropdownItem>Magazynier</button>
                        <button ngbDropdownItem>Dziennik Zdarzeń</button>
                    </div>
            </div>
            <div ngbDropdown class="d-inline-block m-1">
                <button type="button" class="btn btn-primary" ngbDropdownToggle>
                    WMS
                </button>
                    <div ngbDropdownMenu>
                        <button ngbDropdownItem>Rampy</button>
                        <button ngbDropdownItem>Magazynier</button>
                        <button ngbDropdownItem>Dziennik Zdarzeń</button>
                    </div>
            </div>
        </div>
    </div>
</nav>
      